SQLAlchemy
fastapi
pydantic
uvicorn
mysql-connector
pydantic[email]
psycopg2-binary
pytest
pre-commit
black
python-dotenv
alembic
passlib
python-jose
python-decouple
requests
firebase_admin
jwt
pandas
python-multipart
fastapi_mail
pytz
openpyxl
unidecode
urllib3
pyrebase4
scikit-learn
matplotlib
tensorflow
torch
Keras
seaborn
jupyterlab
numpy
pandas
nltk
gensim
statsmodels
xgboost
lightgbm
catboost
opencv-python-headless
scipy
plotly
networkx
pytorch-lightning
flask
dash
